    html,
    body {
        font-size: 13.33vw;
        /* font-size: 10px; */
        color: #333333;
        background: #f8f8f8;
    }
    
     ::-webkit-scrollbar {
        width: 0px;
    }
    
     ::-webkit-scrollbar {
        display: none;
    }
    
    html,
    body,
    #app {
        height: 100%;
        width: 100%;
        font-size: 13.33vw;
    }
    
    body,
    span,
    div,
    ul,
    li,
    dl,
    dt,
    dd,
    p {
        margin: 0;
        padding: 0;
        font-family: "PingFang SC", "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    }
    
    p {
        width: 100%;
    }
    
    p img {
        width: 100%;
    }
    
    ul,
    li {
        padding: 0;
        margin: 0;
        list-style: none
    }
    
    .pb-1 {
        padding-bottom: 1rem;
    }
    
    .grayBlank {
        height: 0.26rem;
        background: #f8f8f8;
    }
    /*框架的样式修改*/
    
    .van-swipe__indicators {
        bottom: 17px;
    }
    /*FAFDFA*/
    
    .van-circle__text {
        color: #FC124F;
    }
    
    .van-circle svg {
        overflow: unset;
        transform: rotate(180deg);
    }
    
    .van-circle__text {
        padding: 0 0.2rem;
        box-sizing: border-box;
    }
    
    .van-tag {
        display: inline-block;
        padding: 0.04rem 0.08rem;
        line-height: normal;
        border-radius: 3px;
        font-size: 0.22rem;
        background: #FAFDFA;
        color: #fff;
    }
    
    .van-tag--success.van-tag--plain {
        color: #38ba50;
    }
    
    .van-tag::after {
        border-color: #fafdfa;
    }
    /*这是video的样式*/
    
    .vjs-custom-skin>.video-js .vjs-control-bar {
        position: fixed;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5)
    }
    
    .vjs-custom-skin>.video-js {
        height: 100% !important;
    }
    
    .vjs-custom-skin>.video-js .vjs-big-play-button {
        background-color: rgba(0, 0, 0, 0.45);
        font-size: 0.98rem;
        /* border-radius: 50%; */
        width: 0.98rem;
        line-height: 0.98rem !important;
        margin-top: -1em !important;
        height: 0.98rem !important;
    }
    /*瀑布流*/
    
    .img-inner-box {
        border-radius: 0 !important;
    }
    /*vant*/
    
    #marketList .van-checkbox__icon--round .van-icon {
        border-radius: 0.08rem;
        height: 0.3rem;
        width: 0.3rem;
        line-height: normal;
    }
    
    #marketList .van-radio__icon--round .van-icon {
        border-radius: 0.08rem;
        height: 0.3rem;
        width: 0.3rem;
        line-height: normal;
    }
    
    #decorationEncyclopedia .van-tab {
        font-size: 0.3rem;
        color: #333333;
        box-sizing: initial;
        border: 0;
        padding: 0;
        border-radius: 0.08rem;
        width: auto;
        padding: 0 0.2rem;
    }
    
    #decorationEncyclopedia .van-tabs__nav {
        display: -webkit-box;
    }
    
    #decorationEncyclopedia .van-tab--active {
        color: #38ba50;
    }
    
    #decorationEncyclopedia .van-tabs__line {
        background: #38ba50;
        bottom: 0.2rem;
        box-sizing: border-box;
    }
    
    #decorationEncyclopedia .van-hairline--top-bottom::after {
        border: 0;
    }
    
    #decorationEncyclopedia .typeNav .van-tabs__line {
        height: 0;
    }
    
    #decorationEncyclopedia .typeNav .van-tab span {
        height: 0.6rem;
        font-size: 0.28rem;
        color: #999999;
        letter-spacing: 0;
        border: 1px solid #999999;
        line-height: 0.6rem;
        border-radius: 0.08rem;
        margin-top: 0.18rem;
        padding: 0 0.3rem;
    }
    
    #decorationEncyclopedia .typeNav .van-tab--active span {
        color: #38ba50;
        border: 1px solid #38ba50;
    }
    
    #decorationEncyclopedia .van-tabs__nav--line {
        box-sizing: border-box;
        padding-bottom: 0;
    }
    
    #decorationEncyclopedia .van-tabs__line {
        bottom: 0.04rem;
    }
    
    #decorationEncyclopedia .van-tabs--line .van-tabs__wrap {
        height: 0.88rem;
    }
    
    .van-picker__cancel,
    .van-picker__confirm {
        font-size: 0.3rem;
        color: #38ba50;
    }
    
    .van-picker-column__item {
        font-size: 0.3rem;
    }
    
    #updateMember .van-cell__right-icon {
        line-height: 1.08rem;
    }
    
    .van-swipe__indicator--active {
        background: #fff;
    }