    html,
    body {
        font-size: 13.33vw;
        /* font-size: 10px; */
        color: #333333;
        background: #f8f8f8;
    }
    
    body,
    span,
    div,
    ul,
    li,
    p {
        margin: 0;
        padding: 0;
        font-family: "PingFang SC", "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    }
    
    ul,
    li {
        padding: 0;
        margin: 0;
        list-style: none
    }
    
    .grayBlank {
        height: 26px;
        background: #f8f8f8;
        box-shadow: inset 1px 1px 20px #EDEDED;
    }
    /*框架的样式修改*/
    
    .van-swipe__indicators {
        bottom: 17px;
    }
    /*FAFDFA*/
    
    .van-tag {
        display: inline-block;
        padding: 0.04rem 0.08rem;
        line-height: normal;
        border-radius: 3px;
        font-size: 0.22rem;
        background: #FAFDFA;
        color: #fff;
    }
    
    .van-tag--success.van-tag--plain {
        color: #38ba50;
    }
    
    .van-tag::after {
        border-color: #fafdfa;
    }
    /*这是video的样式*/
    
    .vjs-custom-skin>.video-js .vjs-control-bar {
        position: fixed;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5)
    }
    
    .vjs-custom-skin>.video-js {
        height: 100% !important;
    }
    
    .vjs-custom-skin>.video-js .vjs-big-play-button {
        background-color: rgba(0, 0, 0, 0.45);
        font-size: 0.98rem;
        /* border-radius: 50%; */
        width: 0.98rem;
        line-height: 0.98rem !important;
        margin-top: -1em !important;
        height: 0.98rem !important;
    }